table{
    text-align: center;
    width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black ;
    border-collapse: collapse ;
}

td:first-child{
    text-align: left;
}

tbody tr:nth-child(odd){
    background-color: rgb(240,248,255); 
}

td,th{
    padding: 5px;
}

th{
    font-weight: normal;
}